{% extends "main/header.html" %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <form method = "POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class = "btn" type="submit">Register</button>
  </form>
  If you have account , <a href = "/login"><strong>login</strong></a>
{% endblock %}